
<div ng-controller = 'usersController'>
<header>
  <div class="container">
    <p> WELCOME, PLEASE ENTER A USERNAME OR NAME!</p>
	<p id = 'error' ng-bind = 'noname'></p>
    <form>
	<!-- <div class="panel-footer"> -->
		<div class="input-group">
			<input type="text" ng-model = 'new_user.name' class="form-control" id ="message" placeholder="Please Enter a name!"/>
				<span class="input-group-btn">
					<button class="btn btn-info" type="submit" ng-click = 'addUser()'>ENTER</button>
				</span>
		</div>
	</div>
	</form>
  <!-- </div> -->
</header>

</div>